a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.link-card {
    display: flex;
    background-color: white;
    margin: 12px;
    border-radius: 12px;
    align-items: center;
    position: relative;
    justify-content: flex-start;
}

.link-card img {
    margin-left: 6px;
}

.link-card .link-name {
    position: absolute;
    left: 50%;
    transform: translateX(-45%);
}

h1 {
    margin-top: 0px;
}