:root {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  font-size:large;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(140deg,rgba(0, 0, 0, 1) 0%, rgba(45, 45, 45, 1) 50%, rgba(81, 81, 81, 1) 100%);

  min-height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
